body {
  margin: 0;
  padding-top: 130px;
  font-family: Roboto, Arial;
}

p {
  font-family: Roboto, Arial;
}

@media (max-width: 711px) and (min-width:550px){
  body{
    margin:0;
    padding-top: 145px;
  }
}

@media (max-width: 550px){
  body{
    margin:0;
    padding-top:170px;
  }
}
