.ypiresies-skilou-grid{
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-items: center;
  row-gap: 20px;
  column-gap: 20px;
}

.photo-ypiresies-skilou{
  width: 200px;
  border-radius: 75px;
  margin-left: 30px;
  height: 200px;
  object-fit: cover;
}

@media (max-width: 550px){
  .ypiresies-skilou-grid{
  display: grid;
  grid-template-columns: 1fr;
  }
  .photo-ypiresies-skilou{
    margin-left:0;
  }
}



.ypiresies-skilou-1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.ypiresies-skilou-titlos{
  font-size: 24px;
  border-bottom: 3px dashed rgb(103, 34, 166);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media (max-width: 600px){
  .ypiresies-skilou-titlos{
    border-bottom: none;
    font-weight: bold;
  }
}

.bottom{
  background-color: rgb(255, 255, 0);
  height: 35px;
  margin-top: 10px; 
}
